*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.CodeMirror {
  height: 340px !important;
  color: white;
}

.CodeMirror-gutters {
  background-color: #1d1e22 !important;
}